* {
    box-sizing: border-box;
    z-index: 0;
}
html {
    background-color: #fff;
}
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
body {
    font-family: Tahoma, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: #000;
    line-height: 1.2;
}
img {
    max-width: 100%;
    display: block;
}
a {
    text-decoration: none !important;
    color: inherit;
}
h1,
h2,
h3,
h4,
p {
    margin: 0;
}
//grid
.section {
    padding-bottom: 6em;
}
.section__content {
    & + .section__content {
        margin-top: 3em;
    }
    .section__content {
        margin-top: 3em;
    }
}
.items-center {
    margin: 0 auto;
}
.grid {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    z-index: 200;
    max-width: 1200px;
}
.grid__row {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
//justify-content
.grid__row._lg_content_between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.grid__row._lg_content_around {
    justify-content: space-around;
}
.grid__row._lg_content_start {
    justify-content: flex-start;
}
.grid__row._lg_content_end {
    justify-content: flex-end;
}
.grid__row._lg_content_center {
    justify-content: center;
}
//align-items
.grid__row._lg_items_end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.grid__row._lg_items_start {
    align-items: flex-start;
}
.grid__row._lg_items_center {
    align-items: center;
}
.grid__row._lg_items_stretch {
    align-items: stretch;
}
.grid__col {
    padding-left: 15px;
    padding-right: 15px;

    &._col_flex {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }
}
.grid__col._lg_1 {
    width: 8.33333%;
}
.grid__col._lg_2 {
    width: 16.66667%;
}
.grid__col._lg_3 {
    width: 25%;
}
.grid__col._lg_4 {
    width: 33.33333%;
}
.grid__col._lg_5 {
    width: 41.66667%;
}
.grid__col._lg_6 {
    width: 50%;
}
.grid__col._lg_7 {
    width: 58.33333%;
}
.grid__col._lg_8 {
    width: 66.66667%;
}
.grid__col._lg_9 {
    width: 75%;
}
.grid__col._lg_10 {
    width: 83.33333%;
}
.grid__col._lg_11 {
    width: 91.66667%;
}
.grid__col._lg_12 {
    width: 100%;
}
//text defaulte
.text {
    &-center {
        text-align: center;
    }
    &-right {
        text-align: right;
    }
    &-bold {
        font-weight: 900;
    }
    &-semi {
        font-weight: bold;
        font-style: normal;
    }
    &-light {
        font-weight: 300;
    }
    &-normal {
        font-weight: normal;
        font-style: normal;
    }
    &-italic {
        font-style: italic;
    }
    &-transform {
        text-transform: uppercase;
    }
    &-justify {
        text-align: justify;
    }
    &-white {
        color: #fff;
    }
    &-grey {
        color: #4c4d4f;
    }
    &-orange {
        color: #d56f33;
    }
}
.text-margin + .text-margin {
    margin-top: 1em;
}
.title {
    //24
    &._lg {
        font-size: 1.333em;
    }
    //22
    &._md {
        font-size: 1.222em;
    }
    //20
    &._sm {
        font-size: 1.111em;
    }
}
.text {
    //16
    &._lg {
        font-size: 0.888em;
    }
    //12
    &._md {
        font-size: 0.666em;
    }
    //10
    &._sm {
        font-size: 0.555em;
    }
}

@media (max-width: 768px) {
    .section__content .section__content {
        margin-top: 1em;
    }
    .grid__col._sm_12 + .grid__col._sm_12 {
        margin-top: 1em;
    }
    .grid__row._sm_reverse {
        flex-direction: row-reverse;
    }
    .grid__row._sm_reverse_col {
        flex-direction: column-reverse;
    }
    .grid__row._sm_reverse .text-right {
        text-align: left;
    }
    .grid__row._sm_content_center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .grid__row._sm_items_start {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .grid__row._sm_items_end {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    .grid__row._sm_items_center {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .grid__row._sm_items_center {
        align-items: space-between;
    }
    .grid__col._sm_1 {
        width: 8.33333%;
    }
    .grid__col._sm_2 {
        width: 16.66667%;
    }
    .grid__col._sm_3 {
        width: 25%;
    }
    .grid__col._sm_4 {
        width: 33.33333%;
    }
    .grid__col._sm_5 {
        width: 41.66667%;
    }
    .grid__col._sm_6 {
        width: 50%;
    }
    .grid__col._sm_7 {
        width: 58.33333%;
    }
    .grid__col._sm_8 {
        width: 66.66667%;
    }
    .grid__col._sm_9 {
        width: 75%;
    }
    .grid__col._sm_10 {
        width: 83.33333%;
    }
    .grid__col._sm_11 {
        width: 91.66667%;
    }
    .grid__col._sm_12 {
        width: 100%;
    }
    ._sm_0 {
        display: none;
    }
    body {
        font-size: 14px;
    }
}
